//this is a single line comment for scss

//scss variables
//built in functions
$accent: darken(#d6aca2, 10%); //built in function 1
$background: saturate(#e6ccc5, 70%); //built in function 2
$bodytype: 'Helvetica', sans-serif;
$displaytype: 'Didot', sans-serif;
$padding: 30px;
$margin: 20px;

//selector nesting - see "navigation"

//property nesting - see "footer"

//@extend - under headers 

//mixin
//math
@mixin wrapper{
    background-color: #fff;
    position: center;
    margin: $margin * 4;
    padding: $padding;
}

/*************body*************/

body{
    font-family: $bodytype;
    background-color: $background;
}

//include
#bodywrapper{
    @include wrapper;
}

#gototop{
    background-color: #fff;
    padding: 3px 8px 5px 10px;
    position: fixed;
    right: 3px;
    bottom: 10px;
    border: 1px solid #271B10;
    border-radius: 100px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
 
/************headers, heading, and content***********/
header{
    font-family: $displaytype;
    color: $accent;
    text-align: left;
}


//use @extend feature
h1{
    @extend header;
    text-align: center;
    font-family: $displaytype;
    color: #000;
}

h2{
    @extend header;
    font-size: 24px;
    margin: 0px auto;
    padding: 5px;
    text-align: left;
}

h3, h4, h5, h6{
    @extend header;
}

#pguidance{
    color: #79aa07;
    text-align: left;
}

//math
p{
    color: #000;
    padding-left: $padding / 2;
}

#pwelcome{
    text-align: center;
    margin: 20px auto;
}

#pabout{
    position: relative;
    clear: left;
    
}

/**********navigation***********/
//here I nested selectors

nav{
    text-align: center;
    ul{
        list-style-type: none;
        padding: inherit;
        li{
            display: inline-block;
            padding: 5px 5px; 
        }
    }
}

/**********all links****************/


a{
    color: #d6aca2; 
}

ul li a{
    color: #000;
}

ul li a:hover {
    color: #d6aca2;
}

/***********images*************/

#customers{
    margin: 10px auto;
        }

#spiltcoffeebeans{
            float: left;
            margin: 0px 15px 15px 0px;
            padding: 0px 15px 0px 0px;
            border-right: 1px solid #624428;
        }

#map{
    text-align: center;
    margin: 10px auto;
}

/***************other**********/

#contactoptionwrapper{
    background-color: #624428;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    color: #fff;
    height: auto;
    width: 384px;
    height: 200px;
}

/************footer***********/
//here I nested a property

//I wanted to change the way the footer looked as well, hence why it is a bit different than the previous commit

footer{
    text-align: center;
    padding: 5px;
    max-width: 500px;
    margin: auto;
    margin-top: 25px;
    clear: left;
    font: { 
        family: 'Helvetica', sans-serif;
        size: 12px; 
        weight: bold;
    }
}